{% extends "main/base.html" %}

{% block title %}{% endblock %}
{% load static %}

{% block content %}
<main>
    <!--? Hero Start -->
    <div class="slider-area2 section-bg2 hero-overly" data-background="{% static 'assets/img/hero/hero2.png' %}">
      <div class="slider-height2 d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="hero-cap hero-cap2">
                <h2>Blog Details</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Hero End -->
    <!--? Blog Area Start -->
    <section class="blog_area single-post-area section-padding">
     <div class="container">
      <div class="row">
       <div class="col-lg-8 posts-list">
        <div class="single-post">
         <div class="feature-img">
          <img class="img-fluid" src="{{ blog.image.url }}" alt="">
        </div>
        <div class="blog_details">
          <h2 style="color: #2d2d2d;">{{ blog.title }}
         </h2>
         <ul class="blog-info-link">
          <li><a href="#"><i class="fa fa-user"></i>
              {% for category in blog.categories.all %}
                  {{ category.name }}
              {% endfor %}
          </a></li>
          <li><a href="#"><i class="fa fa-comments"></i> {{ blog.comment_set.count }} Comments</a></li>
         </ul>
         <p class="excert">
          {{ blog.content|safe }}
         </p>
         <div class="quote-wrapper">
           <div class="quotes">
            {{ blog.content|slice:250|safe }}
          </div>
        </div>
        
     </div>
   </div>
   <div class="navigation-top">
     <div class="d-sm-flex justify-content-between text-center">
      <p class="like-info"><span class="align-middle"><i class="fa fa-heart"></i></span> Lily and 4
      people like this</p>
      <div class="col-sm-4 text-center my-2 my-sm-0">
      </div>
      <ul class="social-icons">
       <li><a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a></li>
       <li><a href="#"><i class="fab fa-twitter"></i></a></li>
       <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
       <li><a href="#"><i class="fab fa-behance"></i></a></li>
     </ul>
   </div>
   <!-- Add these lines inside the navigation-area div in your template -->
   <div class="navigation-area">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
            {% if prev_post %}
                <div class="thumb">
                    <a href="{% url 'Blog:blog_details' prev_post.id %}">
                        <img class="img-fluid" src="{{ prev_post.image.url }}" style="height:8rem;width:8rem;" alt="">
                    </a>
                </div>
                <div class="arrow">
                    <a href="{% url 'Blog:blog_details' prev_post.id %}">
                        <span class="lnr text-white ti-arrow-left"></span>
                    </a>
                </div>
                <div class="detials">
                    <p style="color: #2d2d2d;font-size:14px">Prev Post</p>
                    <a href="{% url 'Blog:blog_details' prev_post.id %}">
                        <h4 style="color: #2d2d2d;font-size:12px">{{ prev_post.title }}</h4>
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
            {% if next_post %}
                <div class="detials">
                    <p style="color: #2d2d2d;font-size:14px">Next Post</p>
                    <a href="{% url 'Blog:blog_details' next_post.id %}">
                        <h4 style="color: #2d2d2d;font-size:12px">{{ next_post.title }}</h4>
                    </a>
                </div>
                <div class="arrow">
                    <a href="{% url 'Blog:blog_details' next_post.id %}">
                        <span class="lnr text-white ti-arrow-right"></span>
                    </a>
                </div>
                <div class="thumb">
                    <a href="{% url 'Blog:blog_details' next_post.id %}">
                        <img class="img-fluid" src="{{ next_post.image.url }}" style="height:8rem;width:8rem;" alt="">
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
</div>

<div class="blog-author">
  <div class="media align-items-center">
      <img src="{{ blog.author.image.url }}" alt="{% if blog.author.name %}{{ blog.author.name }}{% endif %}">
      <div class="media-body">
          <a href="#">
              <h4>{% if blog.author.name %}{{ blog.author.name }}{% endif %}</h4>
          </a>
          <p>{% if blog.author.bio %}{{ blog.author.bio }}{% endif %}</p>
      </div>
  </div>
</div>
<div class="comments-area">
  <h4>{{ blog.comment_set.count }} Comments</h4>
  <div class="comment-list">
      {% for comment in blog.comment_set.all %}
          <div class="single-comment justify-content-between d-flex">
              <div class="user justify-content-between d-flex">
                  <div class="thumb">
                      <img src="{% static 'assets/img/blog/comment_1.png' %}" alt="">
                  </div>
                  <div class="desc">
                      <p class="comment">{{ comment.comment }}</p>
                      <div class="d-flex justify-content-between">
                          <div class="d-flex align-items-center">
                              <h5><a href="#">{{ comment.name }}</a></h5>
                              <p class="date">{{ comment.created_at|date:"F j, Y \at g:i A" }}</p>
                          </div>
                          <div class="reply-btn">
                              {% comment %} <a href="#" class="btn-reply text-uppercase">reply</a> {% endcomment %}
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      {% endfor %}
  </div>
</div>
<div class="comment-form">
 <h4>Leave a Reply</h4>
 <form class="form-contact comment_form" action="{% url 'Blog:post_comment' blog.pk %}" method="post" id="commentForm">
  {% csrf_token %}
  <div class="row">
   <div class="col-12">
    <div class="form-group">
     <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9"
     placeholder="Write Comment"></textarea>
   </div>
 </div>
 <div class="col-sm-6">
  <div class="form-group">
   <input class="form-control" name="name" id="name" type="text" placeholder="Name">
 </div>
</div>
<div class="col-sm-6">
  <div class="form-group">
   <input class="form-control" name="email" id="email" type="email" placeholder="Email">
 </div>
</div>
<div class="col-12">
  <div class="form-group">
   <input class="form-control" name="website" id="website" type="text" placeholder="Website">
 </div>
</div>
</div>
<div class="form-group">
 <button type="submit" class="button button-contactForm btn_1 boxed-btn">Post Comment</button>
</div>
</form>
</div>
</div>
<div class="col-lg-4">
  <div class="blog_right_sidebar">
    

    <aside class="single_sidebar_widget search_widget">
        <form action="{% url 'Blog:search_results' %}" method="get">
          {% csrf_token %}
            <div class="form-group">
                <div class="input-group mb-3">
                    <input type="text" name="q" class="form-control" placeholder='Search Keyword'
                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
                    <div class="input-group-append">
                        <button class="btns" type="submit"><i class="ti-search"></i></button>
                    </div>
                </div>
            </div>
            <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn" type="submit">Search</button>
        </form>
    </aside>
<aside class="single_sidebar_widget post_category_widget">
  <h4 class="widget_title" style="color: #2d2d2d;">Category</h4>
  <ul class="list cat-list">
      {% for category in categories %}
      <li>
          <a href="#" class="d-flex">
              <p>{{ category.name }}</p>
              <p>({{ category.blog_set.count }})</p>
          </a>
      </li>
      {% endfor %}
      {% comment %} <li>
          <a href="#" class="d-flex">
              <p>Travel news</p>
              <p>(10)</p>
          </a>
      </li>
      <li>
          <a href="#" class="d-flex">
              <p>Modern technology</p>
              <p>(03)</p>
          </a>
      </li>
      <li>
          <a href="#" class="d-flex">
              <p>Product</p>
              <p>(11)</p>
          </a>
      </li>
      <li>
          <a href="#" class="d-flex">
              <p>Inspiration</p>
              <p>21</p>
          </a>
      </li>
      <li>
          <a href="#" class="d-flex">
              <p>Health Care (21)</p>
              <p>09</p>
          </a> {% endcomment %}
      </li>
  </ul>
</aside>
<aside class="single_sidebar_widget popular_post_widget">
  <h3 class="widget_title" style="color: #2d2d2d;">Recent Post</h3>
  {% for recent_blog in recent_blogs %}
      <div class="media post_item">
          <img src="{{ recent_blog.image.url }}" style="height:6rem;" alt="post">
          <div class="media-body">
              <a href="{% url 'Blog:blog_details' recent_blog.pk %}">
                  <h3 style="color: #2d2d2d;font-size:12px;">{{ recent_blog.title }}</h3>
              </a>
              <p style="font-size:12px;color:gray;">{{ recent_blog.date|date:"F j, Y" }}</p>
          </div>
      </div>
  {% endfor %}
</aside>
<aside class="single_sidebar_widget tag_cloud_widget">
  <h4 class="widget_title" style="color: #2d2d2d;">Tag Clouds</h4>
  <ul class="list">
   <li>
    <a href="#">project</a>
  </li>
  <li>
    <a href="#">love</a>
  </li>
  <li>
    <a href="#">technology</a>
  </li>
  <li>
    <a href="#">travel</a>
  </li>
  <li>
    <a href="#">restaurant</a>
  </li>
  <li>
    <a href="#">life style</a>
  </li>
  <li>
    <a href="#">design</a>
  </li>
  <li>
    <a href="#">illustration</a>
  </li>
</ul>
</aside>
<aside class="single_sidebar_widget instagram_feeds">
  <h4 class="widget_title" style="color: #2d2d2d;">Instagram Feeds</h4>
  <ul class="instagram_row flex-wrap">
   <li>
    <a href="#">
     <img class="img-fluid" src="{% static 'assets/img/post/post_5.png' %}" alt="">
   </a>
 </li>
 <li>
  <a href="#">
   <img class="img-fluid" src="{% static 'assets/img/post/post_6.png' %}" alt="">
 </a>
</li>
<li>
  <a href="#">
   <img class="img-fluid" src="{% static 'assets/img/post/post_7.png' %}" alt="">
 </a>
</li>
<li>
  <a href="#">
   <img class="img-fluid" src="{% static 'assets/img/post/post_8.png' %}" alt="">
 </a>
</li>
<li>
  <a href="#">
   <img class="img-fluid" src="{% static 'assets/img/post/post_9.png' %}" alt="">
 </a>
</li>
<li>
  <a href="#">
   <img class="img-fluid" src="{% static 'assets/img/post/post_10.png' %}" alt="">
 </a>
</li>
</ul>
</aside>
<aside class="single_sidebar_widget newsletter_widget">
  <h4 class="widget_title" style="color: #2d2d2d;">Newsletter</h4>
  <form action="#">
    <div class="form-group">
      <input type="email" class="form-control" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
    </div>
    <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn" type="submit">Subscribe</button>
  </form>
</aside>
</div>
</div>
</div>
</div>
</section>

<!-- Blog Area End -->
</main>
{% endblock %}